
<div class="hold">
    <div class="header">
      <div class="container">
        <div id="logo">
                <img src="https://www.cihi.ca/sites/all/themes/de_theme/img/logo.svg">
        </div>
        <ul class="nav">
          <li><a routerLink="/userinfo">Home</a></li>
          <li><a>Results</a>
            <ul>
                <li><a routerLink="/branchLevel">Branch Level</a></li>
                <li><a routerLink="/bsaLevel">BSA Level</a></li>
                <li><a routerLink="/devLevel">Developer Level</a></li>
                <li><a routerLink="/tlLevel">TL Level</a></li>

            </ul>
            </li>
        </ul>
      </div>
    </div>
  </div> 