<p>
    {{name}}
  </p>
  
  <section>
    <div id="container"></div>
    <div id="sidebar">
      <br />
      <h4>Future Prediction</h4>
      <mat-form-field>
        <mat-label>Please select category</mat-label>
        <mat-select ngModel name="category" (selectionChange)="onSelectSup($event)">
          <mat-option *ngFor="let p of cat.sort()" [value]="p">
            {{ p }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field *ngIf="ifcatselected">
        <mat-label>Please select skill</mat-label>
        <mat-select ngModel name="skill" (selectionChange)="onSelectSkill($event)">
          <mat-option *ngFor="let p of skill_data.sort()" [value]="p.id">
            {{ p.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-slider thumbLabel showTicks tickInterval="1" max="5" [value]="someValue" (change)="changeGraph($event)"
        *ngIf="ifskillselected"></mat-slider>
      <br />
      <br />
      <br />
      <div id="left">
        <div id="dark_green" class="box"></div><span class="explanation">Percentile >= 90%</span>
        <br>
        <div id="light_green" class="box"></div><span class="explanation">Percentile 75% - 90% </span>
        <br>
        <div id="dark_red" class="box"></div><span class="explanation">Percentile 25% - 75%</span>
        <br>
        <div id="light_orange" class="box"></div><span class="explanation">Percentile <= 25%</span> 
      </div>
    </div>
  </section>