mat-label, mat-option, button, mat-radio-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

 #left {
    margin-left:45%;
    text-align:left;
    width:300px;
 }

  #left button {
      align-content: center;
  }