mat-label, mat-option, button, mat-radio-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

  mat-select, mat-option {
      width:200px;
  }